﻿@using AracKiralama.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="wheel-start3">
    <img src="../../images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Giriş</h3>
                    <ol class="breadcrumb">
                        <li><a href="../../">AnaSayfa</a></li>
                        <li class="active">Giriş</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////////// -->
<div class="wheel-register-block">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="wheel-register-log marg-lg-t150 marg-lg-b150 marg-sm-t100 marg-sm-b100">
                    <div class="wheel-header"  style="text-align:center">
                        <h5 style="text-align:center">Giriş</h5>
                    </div>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    <form action="#">
                        <label for="userName" class="fa fa-user">@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", type = "text" })</label>
                        <label for="userPass" class="fa fa-lock">@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</label>
                        <button type="submit" class="wheel-btn">Giriş</button>
                        <label class="password-sing clearfix" for="input-val2">
                            @Html.CheckBoxFor(m => m.RememberMe)<span>Beni Hatırla</span>
                            @Html.ActionLink("Parolamı unuttum", "ForgotPassword")
                        </label>
                    </form>

                    }
                </div>
            </div>
        </div>
    </div>
</div>