﻿@model AracKiralama.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@using AracKiralama.Models

<div class="wheel-start3">
    <img src="../../images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Kaydol</h3>
                    <ol class="breadcrumb">
                        <li><a href="../../">AnaSayfa</a></li>
                        <li class="active">Kayıt</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////////// -->
<div class="wheel-register-block">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="wheel-register-log marg-lg-t150 marg-lg-b150 marg-sm-t100 marg-sm-b100">
                    <div class="wheel-header" style="text-align:center">
                        <h5 style="text-align:center">Kaydol</h5>
                    </div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <form action="#">
                            <label for="userName" class="fa fa-user">@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })</label>
                            <label for="userName" class="fa fa-user">@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Kullanıcı adı" }) </label>
                            <label for="userPass" class="fa fa-lock">@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Parola" })</label>
                            <label for="userPass" class="fa fa-lock">@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Tekrar Parola" })</label>

                            <label for="userName">@Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, "Rol", new { @class = "form-control" }) </label>
 


                            <button type="submit" class="wheel-btn">Kaydol</button>

                        </form>

                    }
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
