﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

<div class="wheel-start3">
    <img src="../../images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Yeni Rol Ekle</h3>
                    <ol class="breadcrumb">
                        <li><a href="../../">AnaSayfa</a></li>
                        <li class="active">Rol Ekle</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div><br /><br /><br /><br /><br /><br />
<h2 style="text-align:center">Yeni Rol Ekle:</h2>
<div class="col-md-offset-5 col-md-6">
    @using (Html.BeginForm())
    {

        @Html.EditorFor(m => m.Name)
        <input type="submit" value="Rol Oluştur" />
    }
    <br /><br /><br /><br /><br />
</div><br /><br /><br /><br /><br /><br />
