﻿
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Role";
}

<div class="wheel-start3">
    <img src="../../images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Roller</h3>
                    <ol class="breadcrumb">
                        <li><a href="../../">AnaSayfa</a></li>
                        <li class="active">Roller</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br />
            <h2 style="text-align:center"> Roller</h2>
<br /><br />
            <table id="tbrole" class="col-md-offset-3 col-md-6"  style="text-align:center; border:dotted 1px; background-color:gainsboro; padding-left:10px;">

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:100%; border:dotted 1px;">
                            @item.Name
                        </td>
                    </tr>}

            </table>
<br /><br />
            <h3 style="text-align:center">  <br /><br /> @Html.ActionLink("Yeni Role Ekle", "Create", "Role") </h3>
<br /><br /><br /><br /><br />