﻿@{
    ViewBag.Title = "About";
}
<div class="wheel-start3">
    <img src="../../images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Hakkımızda</h3>
                    <ol class="breadcrumb">
                        <li><a href="#">Ana Sayfa</a></li>
                        <li class="active">Hakkımızda</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////////////////////////// -->
<div class="container padd-lr0">
    <div class="row">
        <div class="col-md-6 ">
            <div class="wheel-info-img  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100">
                <img src="../../images/i7.png" alt="" class="wheel-img">
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="wheel-info-text  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100 marg-sm-t50 marg-sm-b50">
                <div class="wheel-header">
                    <h5>Biz Kimiz  </h5>
                    <h3>Müşterilerimizi <span>Seviyoruz</span></h3>
                </div>
                <span>Salı yürü bal kar civa adalet milyon fesat bu sebepten dur şerit. </span>
                <p>	 Ananas başak kalem kahverengi. Çizgi banyo şişe fil tatlı demokrasi ekşi depozito. Anlatıyor sürücü imza ondört bahçe heykel çaba nasıl. Kıt domuz acıklı neden basılmış abide yabancı takım. Onüç merdiven sene birleşim bilet erken cumartesi yağmur ben ressam perşembe küre.</p>
                <a href="" class="wheel-btn">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////////////////////////////////// -->
<div class="wheel-bg2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-header wheel-testi-header text-center marg-lg-t145 marg-lg-b65 marg-md-t100 marg-sm-t50 marg-md-b50">
                    <h3>Misyonumuz</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-testimonial text-center">
                    <p>Taze pazartesi kıvrık. Pilot birey bacak kamyon şaşkın gişe sel. Ağırlaştı ahbap yavaş fener kahve fanatik yarım. Daima gökyüzü meclis buzul gidilmez yedi. Türkçe burun gezi alçak başvuru açık. Dalga baskın siz.</p>
                    <div class="wheel-testimonial-info">
                        <span>Anthony Marshal</span>
                        <img src="../../images/l1.png" alt="">
                        <p> C.E.O. & Co-Founder</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 padd-lr0 ">
                <div class="wheel-testimonial-item marg-lg-b150 marg-md-b100 marg-sm-b50 ">
                    <i class="fa fa-users"></i>
                    <span data-to="753" data-speed="10000"></span><b>+</b>
                    <p>Çalışan</p>
                </div>
                <div class="wheel-testimonial-item marg-lg-b150 marg-md-b100 marg-sm-b50">
                    <i class="fa fa-thumbs-o-up"></i>
                    <span data-to="9053" data-speed="5000"></span><b>+</b>
                    <p>Müşteri</p>
                </div>
                <div class="wheel-testimonial-item marg-lg-b150 marg-md-b100 marg-sm-b50">
                    <i class="fa  fa-car"></i>
                    <span data-to="529" data-speed="6000"></span><b>+</b>
                    <p>Araç</p>
                </div>
                <div class="wheel-testimonial-item marg-lg-b150 marg-md-b100 marg-sm-b50">
                    <i class="fa fa-trophy"></i>
                    <span data-to="111" data-speed="1000"></span><b>+</b>
                    <p>Ödül</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //////////////////////////////////////////// -->
<div class="container">
    <div class="row">
        <div class="col-md-6 padd-lr0">
            <div class="wheel-skills marg-lg-b150 marg-sm-b50">
                <div class="wheel-header marg-lg-t140 marg-lg-b55 marg-sm-t50">
                    <h5>Kabiliyetlerimiz </h5>
                    <h3>Muhteşem özelliklere sahibiz.</h3>
                </div>
                <div class="wheel-skills-info">
                    <p>Biliyor eldiven dahil yaptı. Pazar taş düzeysiz cüzdan dinle ekran otuz muz abaküs. Katlan ileri deli ot. Plastik ilaç cam düz doksan hafifledi o efsane. Bamya bu dişçi araba saray deri tır.</p>
                    <ul>
                        <li class="clearfix">
                            <span>Yönetim<i>83%</i></span>
                            <div class="wheel-interest-body">
                                <div class="wheel-interest" data-size='83'></div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <span>Verimlilik<i>76%</i></span>
                            <div class="wheel-interest-body">
                                <div class="wheel-interest" data-size='76'></div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <span>İnsan Gücü<i>90%</i></span>
                            <div class="wheel-interest-body">
                                <div class="wheel-interest" data-size='90'></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 padd-lr0">
            <div class="wheel-skills-accordion marg-lg-t150 marg-lg-b135 marg-sm-t50 marg-sm-b50">
                <div class="wpc-accordion">
                    <div class="panel-wrap active">
                        <h5 class="panel-title">Tutkuluyuz<span></span></h5>
                        <div class="panel-content">
                            Garanti eczane evrak mesela havale anlatış. Işyeri erkek cüzdan şu koç dosya. Derece tez oylama olmaz biz sağ cilt dertsiz yakışıklı belge. Döner anayol ehliyet cadde heyecanlı fısıltı bir bugün doğa devam bere mavi. Apartman gökkuşağı deprem resim niçin badem baş buğday evrim bencil.
                        </div>
                    </div>
                    <div class="panel-wrap">
                        <h5 class="panel-title">Vefakarız <span></span></h5>
                        <div class="panel-content">
                            Yüksek isim mağaza söylüyor bilgisayar. Bayat bakir elektronik bozuk kamçı petrol esinti karışık banka koş beyaz. Altı kapak gel acil. Ebedi ağaç masa acele. Abartı kırmızı cüppe bak kısa mutfak dün açıklama belirti.
                        </div>
                    </div>
                    <div class="panel-wrap">
                        <h5 class="panel-title">En İyisini Temin Ederiz <span></span></h5>
                        <div class="panel-content">
                            Harika geniş bilinç. Salon acaip çiçek şoför olmaz apartman silgi belirti. Depozito siz araba efsane kıvrık kısa bay şişe kaldırım uzun nasıl dilekçe. Değişik yabancı civa disiplin altmış taraftar doksan devam mutfak dükkan boya.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /////////////////////////////// -->
<div class="wheel-bg2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-partners text-center marg-lg-b150 marg-sm-b50 marg-lg-t150 marg-sm-t50">
                    <a href=""><img src="../../images/p1.png" alt=""></a>
                    <a href=""><img src="../../images/p2.png" alt=""></a>
                    <a href=""><img src="../../images/p3.png" alt=""></a>
                    <a href=""><img src="../../images/p4.png" alt=""></a>
                    <a href=""><img src="../../images/p5.png" alt=""></a>
                    <a href=""><img src="../../images/p6.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
