﻿<!-- MAIN -->

<div class="wheel-start">
    <img src="images/bg1.jpg" alt="" class="wheel-img">
    <div class="container padd-lr0">
        <div class="col-lg-6 col-lg-push-6 ">
            <header class="wheel-header marg-lg-b100 marg-lg-t200  marg-md-b0 marg-md-t0">
                <h1>Rent A Car  </h1>
                <h2>Ara - Karşılaştır - Kirala </h2>
                <span>Tüm Türkiyede Hizmetteyiz</span>
            </header>
        </div>
        <div class="col-lg-6 col-lg-pull-6  padd-lr0">
            <div class="wheel-start-form">
                <form action="#">
                    <label for="input-val11">
                        <span>Alış Yeri</span>
                        <input type="text" id='input-val11' placeholder="Şehir,İlçe,Semt yada Havalimanı" required>
                    </label>
                    <label for="input-val12">
                        <span>Teslim Yeri</span>
                        <input type="text" id='input-val12' placeholder="Şehir,İlçe,Semt yada Havalimanı" required>
                    </label>
                    <div class="clearfix">
                        <div class="wheel-date">
                            <span>Alış Tarihi</span>
                            <label for="input-val13" class="fa fa-calendar">
                                <input class="datetimepicker" id='input-val13' type="text" value="29 Apr">
                            </label>
                        </div>
                        <div class="wheel-date ">
                            <span>Alış Saati</span>
                            <label for="input-val14" class="fa fa-clock-o">
                                <input class="timepicker" id='input-val14' type="text" value="18:00">
                            </label>
                        </div>
                        <div class="wheel-date">
                            <span>Teslim Tarihi</span>
                            <label for="input-val15" class="fa fa-calendar">
                                <input class="datetimepicker" id='input-val15' type="text" value="29 Apr">
                            </label>
                        </div>
                        <div class="wheel-date">
                            <span>Teslim Saati</span>
                            <label for="input-val16" class="fa fa-clock-o">
                                <input class="timepicker" id='input-val16' type="text" value="18:00">
                            </label>
                        </div>
                        <div class="wheel-date">
                            <span>Sürücü Yaşı</span>
                            <select class="selectpicker">
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                                <option>32</option>
                                <option>33</option>
                                <option>34</option>
                                <option>35</option>
                                <option>36</option>
                                <option>37</option>
                                <option>38</option>
                                <option>39</option>
                                <option>40</option>
                                <option>41</option>
                                <option>42</option>
                                <option>43</option>
                                <option>44</option>
                                <option>45</option>
                                <option>46</option>
                                <option>47</option>
                                <option>48</option>
                                <option>49</option>
                                <option>50</option>
                            </select>

                        </div>
                        <label for="input-val18" class="promo ">
                            <button class="wheel-btn"><a href="../../Home/Cars">Araç Bul</a></button>
                        </label>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<section id="cars">
    <div class="wheel-collection wheel-bg2" style="margin-top:0px !important">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="wheel-header text-center marg-lg-t140 marg-lg-b65  marg-md-t50 ">
                        <h3>Hizmetinizdeki <span>Araçlarımız</span></h3>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12 ">
                    <div class="tabs">
                        <div class="tabs-header">
                            <ul>
                                <li class="active"><a href="#">Çok Tercih Edilenler</a></li>
                                <li><a href="#">Yeni Gelenler</a></li>
                                <li><a href="#">Satılıklar</a></li>
                            </ul>
                        </div>
                        <div class="tabs-content  marg-lg-b30">
                            <div class="tabs-item active ">
                                <div class="swiper-container" data-autoplay="0" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="2" data-md-slides="4" data-lg-slides="6" data-add-slides="6" data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2016 Nissan Juke' data-carClass='Luxury Sports Car' data-price='$100' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/z-car-1.png'><img src="images/i3.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2016 Chevrolet Malibu' data-carClass='Luxury Sports Car' data-price='$100' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i32.jpg'><img src="images/i5.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='Bugatti Veyron' data-carClass='Luxury Sports Car' data-price='2' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i33.jpg'><img src="images/i3.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2016 Audi S4' data-carClass='Luxury Sports Car' data-price='$10' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i34.jpg'><img src="images/i4.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2017 Hyundai Santa Fe' data-carClass='Luxury Sports Car' data-price='4' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i36.jpg'><img src="images/i3.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='Porsche Boxter Spyder' data-carClass='Luxury Sports Car' data-price='4' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i37.jpg'><img src="images/i2.png" alt=""></div>
                                        </div>
                                    </div>
                                    <div class="swiper-arrow-left fa fa-angle-left"></div>
                                    <div class="swiper-arrow-right fa fa-angle-right"></div>
                                    <div class="pagination"></div>
                                </div>
                            </div>
                            <div class="tabs-item  ">
                                <div class="swiper-container" data-autoplay="0" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="2" data-md-slides="4" data-lg-slides="6" data-add-slides="6" data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2016 Nissan Juke' data-carClass='Luxury Sports Car' data-price='$100' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/z-car-1.png'><img src="images/i3.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2016 Chevrolet Malibu' data-carClass='Luxury Sports Car' data-price='$100' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i32.jpg'><img src="images/i5.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='Bugatti Veyron' data-carClass='Luxury Sports Car' data-price='2' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i33.jpg'><img src="images/i3.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2016 Audi S4' data-carClass='Luxury Sports Car' data-price='$10' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i34.jpg'><img src="images/i4.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2017 Hyundai Santa Fe' data-carClass='Luxury Sports Car' data-price='4' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i36.jpg'><img src="images/i3.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='Porsche Boxter Spyder' data-carClass='Luxury Sports Car' data-price='4' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i37.jpg'><img src="images/i2.png" alt=""></div>
                                        </div>
                                    </div>
                                    <div class="swiper-arrow-left fa fa-angle-left"></div>
                                    <div class="swiper-arrow-right fa fa-angle-right"></div>
                                    <div class="pagination"></div>
                                </div>
                            </div>
                            <div class="tabs-item  ">
                                <div class="swiper-container" data-autoplay="0" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="2" data-md-slides="4" data-lg-slides="6" data-add-slides="6" data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2016 Nissan Juke' data-carClass='Luxury Sports Car' data-price='$100' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/z-car-1.png'><img src="images/i3.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2016 Chevrolet Malibu' data-carClass='Luxury Sports Car' data-price='$100' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i32.jpg'><img src="images/i5.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='Bugatti Veyron' data-carClass='Luxury Sports Car' data-price='2' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i33.jpg'><img src="images/i3.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2016 Audi S4' data-carClass='Luxury Sports Car' data-price='$10' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i34.jpg'><img src="images/i4.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='2017 Hyundai Santa Fe' data-carClass='Luxury Sports Car' data-price='4' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i36.jpg'><img src="images/i3.png" alt=""></div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="wheel-collection-item" data-name='Porsche Boxter Spyder' data-carClass='Luxury Sports Car' data-price='4' data-text='Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit.' data-bags='2 Bags' data-passenger='2 PASSENGERS' data-speed='5.6/100 MPG' data-img='images/i37.jpg'><img src="images/i2.png" alt=""></div>
                                        </div>
                                    </div>
                                    <div class="swiper-arrow-left fa fa-angle-left"></div>
                                    <div class="swiper-arrow-right fa fa-angle-right"></div>
                                    <div class="pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 padd-lr0">
                    <div class="wheel-collection-info">
                        <div class="wheel-collection-text">
                            <h4 class="car-name">2016 Nissan Juke</h4>
                            <span class="car-class">Lux Spor</span>
                            <h5><b>$79 <sup>00</sup></b>/Gün</h5>
                            <p class="car-text">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsu nec sagittis sem nibh id elit. </p>
                            <ul>
                                <li><i class="fa fa-suitcase"></i><span class="car-bags">2 Bavul</span></li>
                                <li><i class="fa fa-user"></i><span class="car-passengers">2 Kişi</span></li>
                                <li><i class="fa fa-tachometer"></i><span class="car-speed">5.6/100 Yakıt</span></li>
                            </ul>
                            <a href="" class="wheel-btn">Tüm Araçlar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 padd-lr0">
                    <div class="wheel-collection-img"><img src="images/i6.png" alt="" class="car-img"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ////////////////////////////////////////////// -->
<section id="campaing">
    <div class="wheel-news  wheel-bg2 ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="wheel-header text-center marg-lg-t140 marg-lg-b90 marg-md-t50 ">
                        <h3>Son <span>Kampanyalar </span></h3>
                    </div>
                </div>
            </div>
            <div class="container padd-lr0 xs-padd">
                <div class="product-list product-list2 wheel-bgt clearfix">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="product-elem-style1 product-elem-style  wheel-bg1 clearfix">
                                <div class="product-table2">
                                    <div class="img-wrap img-wrap2 product-cell">
                                        <img src="images/i29.jpg" alt="img" class="img-responsive">
                                    </div>
                                </div>
                                <div class="product-table3  ">
                                    <div class="text-wrap text-wrap2 product-cell">
                                        <div class="title">2016 Marcedes-Benz SLK</div>
                                        <div class="price-wrap product-cell">
                                            <span>79</span><sup>00 TL</sup>/Günlük
                                        </div>
                                    </div>
                                    <div class="img-wrap img-wrap3 product-cell">
                                        <img src="images/i40.jpg" alt="img" class="img-responsive">
                                    </div>
                                    <div class="text-wrap  text-wrap3 product-cell">
                                        <ul class="metadata metadata2">
                                            <li>2 Kişi</li>
                                            <li>2 Bavul</li>
                                            <li>150 Mpg</li>
                                            <li>airbags</li>
                                            <li>manual/auto</li>
                                            <li>benzin</li>
                                        </ul>
                                        <div class="wheel-view-link">
                                            <a href="">Detaylar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="product-elem-style1 product-elem-style  wheel-bg1 clearfix">
                                <div class="product-table2">
                                    <div class="img-wrap img-wrap2 product-cell">
                                        <img src="images/i29.jpg" alt="img" class="img-responsive">
                                    </div>
                                </div>
                                <div class="product-table3  ">
                                    <div class="text-wrap text-wrap2 product-cell">
                                        <div class="title">2016 Marcedes-Benz SLK</div>
                                        <div class="price-wrap product-cell">
                                            <span>79</span><sup>00 TL</sup>/Günlük
                                        </div>
                                    </div>
                                    <div class="img-wrap img-wrap3 product-cell">
                                        <img src="images/i40.jpg" alt="img" class="img-responsive">
                                    </div>
                                    <div class="text-wrap  text-wrap3 product-cell">
                                        <ul class="metadata metadata2">
                                            <li>2 Kişi</li>
                                            <li>2 Bavul</li>
                                            <li>150 Mpg</li>
                                            <li>airbags</li>
                                            <li>manual/auto</li>
                                            <li>benzin</li>
                                        </ul>
                                        <div class="wheel-view-link">
                                            <a href="">Detaylar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <div class="wheel-quote text-center">
        <img src="images/bg3.jpg" alt="" class="wheel-img">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="swiper-container" data-autoplay="7000" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="1" data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="wheel-quote-item">
                                    <div class="wheel-quote-logo"><img src="images/l2.png" alt=""></div>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                                    <div class="wheel-quote-stars"><img src="images/stars.png" alt=""></div>
                                    <h6>Catrina Romero</h6>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wheel-quote-item">
                                    <div class="wheel-quote-logo"><img src="images/l2.png" alt=""></div>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                                    <div class="wheel-quote-stars"><img src="images/stars.png" alt=""></div>
                                    <h6>Catrina Romero</h6>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="wheel-quote-item">
                                    <div class="wheel-quote-logo"><img src="images/l2.png" alt=""></div>
                                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                                    <div class="wheel-quote-stars"><img src="images/stars.png" alt=""></div>
                                    <h6>Catrina Romero</h6>
                                </div>
                            </div>
                        </div>
                        <div class="pagination"></div>
                    </div>
                    <div class="swiper-outer-left fa fa-angle-left"></div>
                    <div class="swiper-outer-right fa fa-angle-right"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="wheel-quote-partners">
                        <a href=""><img src="images/p1.png" alt=""></a>
                        <a href=""><img src="images/p2.png" alt=""></a>
                        <a href=""><img src="images/p3.png" alt=""></a>
                        <a href=""><img src="images/p4.png" alt=""></a>
                        <a href=""><img src="images/p5.png" alt=""></a>
                        <a href=""><img src="images/p6.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /////////////////////////////// -->

