﻿<!DOCTYPE html>
<html>
<head>
    
    
   
    @Styles.Render("~/Content/css")
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jewel Theme">
    <meta name="description" content="Rentacar">
    <meta name="keywords" content="">
    <title>Rentacar</title>
   

</head>
<body  class="">
    <div class="load-wrap">
        <div class="wheel-load">
            <img src="../../images/loader.gif" alt="" class="image">
        </div>
    </div>
    <div class="wheel-menu-wrap ">
        <div class="container-fluid wheel-bg1">
            <div class="row">
                <div class="col-sm-3">
                    <div class="wheel-logo">
                        <a href="../../"><img src="../../images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-sm-9 col-xs-12 padd-lr0">
                    <div class="wheel-top-menu clearfix">
                        <div class="wheel-top-menu-info">
                            <div class="top-menu-item"><a href=""><i class="fa fa-phone"></i><span>(+90) 264 2222222</span></a></div>
                            <div class="top-menu-item"><a href=""><i class="fa fa-envelope"></i><span>iletisim@rentacar.com</span></a></div>
                        </div>
                        <div class="wheel-top-menu-log">
                            <div class="top-menu-item">
                                @Html.Partial("_LoginPartial")
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 ">
                    <div class="wheel-navigation">
                        <nav id="dl-menu">
                            <!-- class="dl-menu" -->
                            <ul class="main-menu dl-menu">
                                <li class="menu-item  ">
                                    <a href="../../">Ana Sayfa</a>
                                  
                                </li>
                                <li class="menu-item  ">
                                    <a href="../../#cars"> Araçlar </a>

                                </li>
                                <li class="menu-item   ">
                                    <a href="../../#campaing">Kampanyalar</a>
                                </li>
                                <li class="menu-item ">
                                    <a href="../../Home/About">Hakkımızda</a>
                                    
                                </li>
                                <li class="menu-item  ">
                                    <a href="../../Home/Contact">İletİşİm</a>
                                </li>
                            </ul>
                            <div class="nav-menu-icon"><i></i></div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
        @RenderBody()
     
    <footer class="wheel-footer">
        <img src="../../images/bg4.jpg" alt="" class="wheel-img">
        <div class="container">
            <div class="row">
                <div class="col-md-3  col-sm-6  padd-lr0">
                    <div class="wheel-address">
                        <div class="wheel-footer-logo"><a href=""><img src="../../images/logo.png" alt=""></a></div>
                        <ul>
                            <li>
                                <span>
                                    <i class="fa fa-map-marker"></i>ankara caddesi SAKARYA <br>
                                   
                                </span>
                            </li>
                            <li><a href=""><span><i class="fa fa-phone"></i> +90 264 2222222</span></a></li>
                            <li><a href=""><span><i class="fa fa-envelope"></i>iletisim@rentacar.com</span></a></li>
                        </ul>
                        <div class="wheel-soc">
                            <a href="" class="fa fa-twitter"></a>
                            <a href="" class="fa fa-facebook"></a>
                            <a href="" class="fa fa-linkedin"></a>
                            <a href="" class="fa fa-instagram"></a>
                            <a href="" class="fa fa-share-alt"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6  padd-lr0">
                    <div class="wheel-footer-item">
                        <h3>Linkler</h3>
                        <ul>
                            <li><a href="" class="">Hakkımızda </a></li>
                            <li><a href="" class="">Müşteri temsilcisi</a></li>
                            <li><a href="" class="">İletişim</a></li>
                            <li><a href="" class="">Güvenlik</a></li>
                            <li><a href="" class="">Gizlilik</a></li>
                            <li><a href="" class="">Site Haritası</a></li>
         
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6  padd-lr0">
                    <div class="wheel-footer-item ">
                        <h3>Araçlar</h3>
                        <ul>
                            <li><a href="" class="">Exotic araçlar</a></li>
                            <li><a href="" class="">SUVlar</a></li>
                            <li><a href="" class="">Kamyonetler</a></li>
                            <li><a href="" class="">Mini Vanlar</a></li>                         
                            <li><a href="" class="">Vanlar</a></li>
                            <li><a href="" class="">RVlar</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 padd-lr0">
                    <div class="wheel-footer-gallery">
                        <h3>Galeri</h3>
                        <div class=" clearfix">
                            <div class="wheel-footer-galery-item"><a href=""><img src="../../images/i11.jpg" alt=""></a></div>
                            <div class="wheel-footer-galery-item"><a href=""><img src="../../images/i12.jpg" alt=""></a></div>
                            <div class="wheel-footer-galery-item"><a href=""><img src="../../images/i13.jpg" alt=""></a></div>
                            <div class="wheel-footer-galery-item"><a href=""><img src="../../images/i14.jpg" alt=""></a></div>
                            <div class="wheel-footer-galery-item"><a href=""><img src="../../images/i15.jpg" alt=""></a></div>
                            <div class="wheel-footer-galery-item"><a href=""><img src="../../images/i16.jpg" alt=""></a></div>
                            <div class="wheel-footer-galery-item"><a href=""><img src="../../images/i17.jpg" alt=""></a></div>
                            <div class="wheel-footer-galery-item"><a href=""><img src="../../images/i18.jpg" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="wheel-footer-info wheel-bg6">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-6  padd-lr0"><span>&#169; Çağrı YILMAZ </span></div>
                <div class="col-lg-4 col-sm-6 padd-lr0">
                    <ul>
                        <li><a href="">Anasayfa</a></li>
                        <li><a href=""> Araçlar</a></li>
                        <li><a href=""> Kampanyalar</a></li>
                        <li><a href=""> Hakkımızda</a></li>
                        <li><a href="">İletişim</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!-- google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt5tJTim4lOO3ojbGARhPd1Z3O3CnE-C8" type="text/javascript"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
