﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wheel-start3">
    <img src="../../images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Süper Admin</h3>
                    <ol class="breadcrumb">
                        <li><a href="../../">AnaSayfa</a></li>
                        <li class="active">Admin</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br /><br /><br />
@if (ViewBag.displayMenu == "Yes")
{
    <h1 style="text-align:center">Yeni Rol Oluşturabilirsin</h1>
    <h3 style="text-align:center">
        @Html.ActionLink("Rolleri Yönet", "Index", "Role")
        <br />
        @Html.ActionLink("Araçları Yönet", "Index", "Cars")
    </h3>
}
else
{
    <h2>  Merhaba <strong>@ViewBag.Name</strong> :) Yönetici ve Kullanıcı Modunu Yakında Ekleyeceğiz </h2>
}  

<br /><br /><br /><br />