﻿@model AracKiralama.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="wheel-start3">
    <img src="../../images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Parola Değiştir</h3>
                    <ol class="breadcrumb">
                        <li><a href="../../">AnaSayfa</a></li>
                        <li class="active">Parola Değiştir</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////////// -->
<div class="wheel-register-block">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="wheel-register-log marg-lg-t150 marg-lg-b150 marg-sm-t100 marg-sm-b100">
                    <div class="wheel-header" style="text-align:center">
                        <h5 style="text-align:center">Parola değiştir</h5>
                    </div>
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <form action="#">
                            <label for="userName" class="fa fa-user">@Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Eski Parola" })</label>
                            <label for="userPass" class="fa fa-lock">@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Yeni Parola" })</label>
                            <label for="userPass" class="fa fa-lock">@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Tekrar Yeni Parola" })</label>
                            <button type="submit" class="wheel-btn"> Değiştir</button>

                        </form>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}