﻿@model AracKiralama.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}
<div class="wheel-start3">
    <img src="../../images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3> @User.Identity.GetUserName()</h3>
                    <ol class="breadcrumb">
                        <li><a href="../../">AnaSayfa</a></li>
                        <li class="active">Giriş</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="wheel-register-block">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="wheel-register-log marg-lg-t150 marg-lg-b150 marg-sm-t100 marg-sm-b100">
                    <div class="wheel-header" style="text-align:center">
                        <h5 style="text-align:center">Parola değiştir</h5>
                    </div>

                        <form action="#">
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Parola Değiştir", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword")
                            }
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
        
